.FAQ_container {
      background: rgb(0, 116, 151) !important;
}

.FAQ_container hr {
      margin: 20px 0 !important;
      border-bottom: 1px solid white !important;
}


.FAQ_container>h4 {
      color: rgb(98, 161, 255);
      font-size: 1.2rem;
}

.FAQ_container>p {
      margin: 15px 30px !important;
      color: rgb(188, 188, 254) !important;
}

.FAQ_container li {
      color: rgb(208, 208, 208);
}

.FAQ_container>ol {
      margin-left: 0;
      margin-bottom: 40px;
}

.FAQ_container>ul {
      margin: 15px 15px;
}

.FAQ_container .remove_prefix {
      list-style: none;
      font-size: .8em;
}

b {
      color: rgb(162, 255, 236) !important;
}


@media (prefers-color-scheme: dark) {
      .FAQ_container {
            background: rgb(0, 61, 80) !important;
      }

      .FAQ_container hr {
            border-bottom: 1px solid white !important;
      }


      .FAQ_container>h4 {
            color: rgb(63, 140, 255);
      }

      .FAQ_container>p {
            color: rgb(161, 161, 254) !important;
      }

      .FAQ_container li {
            color: rgb(208, 208, 208);
      }

      b {
            color: rgb(162, 255, 236) !important;
      }
}